<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Resideo Facility</title>
    <style>
    </style>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link href="~/_frameworks/bootstrap-datetimepicker-4.17.45/bootstrap-datetimepicker.min.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />
    <script src="~/_frameworks/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="~/_frameworks/moment-2.9.0.js/moment-with-locales.min.js"></script>

    <script src="~/_frameworks/bootstrap-datetimepicker-4.17.45/bootstrap-datetimepicker.min.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="~/_frameworks/bootstrap-4.2.1/js/bootstrap.min.js"></script>
</head>
<body ng-app="ResideoApp"  style="    background: scroll;"  >
    
    <div  ng-controller="NavigationController" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/img/resideo-company-name-logo-black-170-x-39.png" style="
    height: 30px;
    margin-top: 8px;
    margin-right: 10px;
" />
                @*@Html.ActionLink("Resideo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li><a href="/#!/">Meeting Room</a></li>
                    <li>@Html.ActionLink("Travel", "Travel", "Travel")</li>
                    <li>@Html.ActionLink("Stationary", "Stationary", "Stationary")</li>
                    <li>@Html.ActionLink("Security", "Security", "Security")</li>
                    <li></li>
                </ul>
                <ul class="nav navbar-nav" style="    float: right; margin-top:7px;
    ">
                    <li>
                        <md-menu>
                            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                                <md-icon md-menu-origin md-svg-icon="/Content/img/user.svg"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="ctrl.redial($event)">
                                        @*<md-icon md-svg-icon="/Content/img/done.svg" md-menu-align-target></md-icon>
                @ViewBag.username*@
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="ctrl.checkVoicemail()" ng-href="/#!/mybookings">
                                        <md-icon md-svg-icon="/Content/img/bookings.svg" md-menu-align-target></md-icon>
                                        @*<a class="md-primary md-raised" style="display: contents;" href="">*@
                                            My Bookings
                                        </a>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.redial($event)">
                                        <md-icon md-svg-icon="/Content/img/myprofile.svg" md-menu-align-target></md-icon>
                                        @ViewBag.username
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button class="md-hue"  href="Home/Logout">
                                        @*<md-icon md-svg-icon="/Content/img/done.svg"></md-icon>*@
                                        Logout
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        

                    </li>
                    <li> </li>
                    <li>
                        <form>
                           
                        </form>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content " flex-sm-xs>
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Resideo</p>
        </footer>*@
    </div>

    @RenderSection("scripts", required: false)
   


    <script src="~/Scripts/ctrl/RoomController.js"></script>
    <script src="~/Scripts/site.js"></script>


</body>
</html>
